# Object files
*.o
*.ko
*.obj

# Libraries
*.so

# Kernel Module Compile Results
*.o.ur-safe
*.ko
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers

# Misc
.gdbinit
.cache.mk
*~
__pycache__/

# Generated
zhpe_version.h


